---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import ProjectListing from "../components/ProjectListing.astro";
import ProjectListings from "../components/ProjectListings.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import { getCollection } from "astro:content";

const allProjects = await getCollection("projects");
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="/public/logo.png" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"></script>
    <script is:inline src="/src/scripts/global.js"></script>
    <style>
      h1 {
        font-family: sans-serif;
        color: var(--color-title-text);
      }

      p {
        color: var(--color-title-text);
        font-family: monospace;
        /* line-height: 1em; */
        font-size: 1.2em;
        margin-bottom: 0.2vh;
        margin-top: 0;
      }

      .typewriter h1 {
        /* font-family: monospace; */
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
        color: var(--color-text);
        font-weight: 800;
        overflow: hidden;
        /* border-right: 0.15em solid var(--color-title-text); */
        white-space: nowrap;
        margin: 0;
        letter-spacing: 0.15em;
        animation:
          typing 1s steps(50, end),
          blink-caret 0.5s step-end infinite;
        display: inline-block;
        margin-top: 0.6vh;
        margin-bottom: 2vh;
      }

      @keyframes typing {
        from {
          width: 0;
        }

        to {
          width: 13%;
        }
      }

      @keyframes blink-caret {
        from,
        to {
          border-color: transparent;
        }

        50% {
          border-color: var(--color-title-text);
        }
      }

      #project-preview {
        background-color: var(--color-obj-bg);
        height: 70vh;
        width: 45vw;
        display: inline-block;
        width: 45vw;
        right: 5vw;
        top: 9vh;
        position: absolute;
      }

      @media screen and (max-width: 1200px) {
        #intro-block-expansion {
          width: 30vw;
        }
      }

      @media screen and (max-width: 768px) {
        #intro-block-expansion {
          width: 40vw;
        }

        #project-preview {
          display: block;
          position: relative;
          height: 50vh;
          width: 100%;
          margin-top: 5vh;
          right: 0;
          padding-top: 2%;
        }
      }

      #typewriter {
        margin-top: 10vh;
      }

      .col-6 {
        margin: 0;
        padding: 0;
      }

      .container {
        padding: 0 !important;
      }
    </style>
  </head>
  <body>
    <BaseLayout>
      <div id="main-content">
        <div class="typewriter" id="typewriter">
          <h1>My work:</h1>
        </div>
        <ProjectListings projects={allProjects} />
        <!-- <div id="projects">
          <div class="row row-cols-3 gx-3 gy-3">
            {
              allProjects.map((project) => (
                <ProjectListing
                  title={project.data.title}
                  desc={project.data.description}
                  img={project.data.thumbnail}
                  tools={project.data.tools}
                  url={`/project/${project.slug}/`}
                />
              ))
            }</div></div>
               <div id="projects">
                <div class="row row-cols-3 gx-3 gy-3">
                  {
                    allProjects.map((project) => (
                      <ProjectListing
                        title={project.data.title}
                        desc={project.data.description}
                        img={project.data.thumbnail}
                        tools={project.data.tools}
                        url={`/project/${project.slug}/`}
                      />
                    ))
                  } -->
        <!-- <ProjectListing
              title="test"
              desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed volutpat magna nulla, eu auctor elit porta id. Morbi tortor est, fringilla at odio eu, malesuada molestie nulla. Nullam nec ligula sagittis, lobortis leo sed, luctus nisl. Morbi laoreet lacinia leo sit amet tempor. Nam pharetra, ipsum non porta elementum, neque est finibus arcu, nec rutrum nunc erat hendrerit felis."
              img="../../public/project-images/makeupAPI_7.png"
              tools={["javascript"]}
            />
            <ProjectListing
              title="test"
              desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed volutpat magna nulla, eu auctor elit porta id. Morbi tortor est, fringilla at odio eu, malesuada molestie nulla. Nullam nec ligula sagittis, lobortis leo sed, luctus nisl. Morbi laoreet lacinia leo sit amet tempor. Nam pharetra, ipsum non porta elementum, neque est finibus arcu, nec rutrum nunc erat hendrerit felis. Integer suscipit, lorem ut vestibulum ultricies, neque purus tristique nisl, vitae molestie neque tortor non magna."
              img="../../public/project-images/makeupAPI_7.png"
              tools={["javascript"]}
            />
            <ProjectListing
              title="test"
              desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed volutpat magna nulla, eu auctor elit porta id. Morbi tortor est, fringilla at odio eu, malesuada molestie nulla. Nullam nec ligula sagittis, lobortis leo sed, luctus nisl. Morbi laoreet lacinia leo sit amet tempor. Nam pharetra, ipsum non porta elementum, neque est finibus arcu, nec rutrum nunc erat hendrerit felis."
              img="../../public/project-images/makeupAPI_7.png"
              tools={["javascript"]}
            /> -->
        <!-- </div> -->
        <!-- </div> -->
      </div>
    </BaseLayout>
  </body>
</html>
