---
const { position, company, desc, descPoints, start, end, link } = Astro.props;
console.log("Experience:" + JSON.stringify(Astro.props));
console.log("POsition:" + position);
console.log("Company" + company);
const startAsDate = new Date(start);
const startDate =
  startAsDate.toLocaleString("default", { month: "long" }) +
  " " +
  startAsDate.getFullYear();
console.log(link);
const endAsDate = new Date(end);
const endDate =
  endAsDate >= new Date()
    ? "present"
    : endAsDate.toLocaleString("default", { month: "long" }) +
      " " +
      endAsDate.getFullYear();
---

<html>
  <body>
    <div style="width: 100%">
      <p style="display: inline-block; margin-bottom: 0; font-size: 0.98em">
        <b>{position}</b> / {
          link ? (
            <a style="color:black" href={link}>
              {company}
            </a>
          ) : (
            company
          )
        }
      </p>
      <!-- <p
        style="float: right; display: inline-block; font-size: 0.8em; margin-top:0.1em"
      > -->
      <p style="font-size: 0.8em; margin-bottom: 0.2em">
        {startDate} - {endDate}
      </p>

      {desc && <p style="font-size: 0.9em; margin-bottom: 0">{desc}</p>}
      {
        descPoints && (
          <ul style="font-size: 0.9em; margin-left: 0">
            {descPoints.split("|").map((item) => (
              <li> {item} </li>
            ))}
          </ul>
        )
      }
    </div>
  </body>
</html>
