---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

import "../styles/global.css";
import "../styles/project-content.css";

const { frontmatter } = Astro.props;

// const tags = frontmatter.tags + "";
// const formattedTags = tags.split(",").join(", ");
// console.log(formattedTags);
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{frontmatter.title}</title>
    <style>
      #project {
        margin-top: 5%;
        font-family: sans-serif;
        width: 50vw;
        margin-left: 25vw;
        background-color: var(--color-obj-bg);
        padding: 1.5em;
        color: var(--color-text);
      }

      #thumbnail {
        width: 100%;
        object-fit: cover;
      }

      #content {
        text-align: left;
      }

      #project-try-it {
        border: none;
        border-radius: 0.5em;
        padding: 0.7em;
        color: white;
        background-color: var(--color-darker-obj-bg);
        margin-bottom: 0.7vh;
      }

      #title {
        margin-top: 3vh;
        margin-bottom: 0.1em;
      }

      @media screen and (max-width: 758px) {
        #project {
          width: 90vw;
          margin-left: 5vw;
        }
      }

      .tag {
        border-radius: 0.8em;
        border: 1px black solid;
        /* background-color: white; */
        padding: 0.25em;
        padding-left: 0.4em;
        padding-right: 0.4em;
        font-size: 0.75em;
        width: fit-content;
      }

      .tag:hover {
        cursor: pointer;
        background-color: wheat;
      }

      #tags {
        margin-bottom: 1.3vh;
      }

      .tool-tag {
        margin-right: 0.25em;
      }

      #made-with {
        font-size: 0.8em;
        margin-top: 0;
        margin-bottom: 2.5vh;
      }
    </style>
  </head>
  <body>
    <Header />
    <div id="project">
      <div id="tags">
        {frontmatter.tags.map((tag) => <div class="tag"> {tag} </div>)}
      </div>
      <div style="text-align:center">
        <img id="thumbnail" src={frontmatter.thumbnail} />
      </div>
      <h1 id="title">{frontmatter.title}</h1>

      <p id="made-with">
        Made with {
          frontmatter.tools.map((tool) => <u class="tool-tag"> {tool}</u>)
        }
      </p>

      <button
        id="project-try-it"
        onclick={"location.href'" + frontmatter.link + "'"}
      >
        Try It ↗</button
      >

      <div id="content">
        <slot class="slot" />
      </div>
    </div>
    <Footer />
    <script>
      import "../scripts/global.js";
    </script>
  </body>
</html>
